.centrar {
  display: flex;
  justify-content: center;
}

ul {
  color: white;
  border: 1px solid black;
  background-color: #40bd81;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  padding-top: 35px;
  position: absolute;
  top: 320px;
}
